body {
	background: green;
    width: 100%;
	}

.cards-field {
	text-align: center;
    margin: 50px;
	}

.trump-img {
	width: 100px;
    height: 125px;
	}

.rank {
    text-align: center;
    margin: 20px;
}

.reload-btn {
    background-color: #FFFF00;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 45px;
    width: 100px;
    height: 37px;
}

.reload-btn:hover {
    opacity: 0.8;
}

.yamafuda {
    width: 100px;
    height: 125px;
}

.field-child {
    float: left;
}

.field-parent {
    width: 220px;
    margin: 0 auto;
    overflow: hidden;
}

.field-parent:before,
.field-parent:after {
    content: "";
    display: table;
}

.field-parent:after {
    clear: both;
}

/*.box {
    float: left;
}

.cp-field {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.cp-field:before,
.cp-field:after {
    content: "";
    display: table;
}

.cp-field:after {
    clear: both;
}*/

