body {
	background: green;
	}

.cards-field {
	text-align: center;
    margin: 50px;
	}

.trump-img {
	width: 100px;
    height: 125px;
	}

.rank {
    text-align: center;
    margin: 20px;
}

.onemore-btn {
    text-align: center;
}

.onemore {
    cursor: pointer;
    border-radius: 20px;
}